<div style="display: flex;flex-direction: column;height: 100%;overflow: hidden">
  <nz-header class="header">
    <div class="logo"><img width="50" src="./../../../assets/iotWls.svg" alt=""/>web音乐管理系统</div>
    <div class="alarm">
      <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomCenter'">
        <a nz-dropdown style="display: inline-block;height: 50px">
          <nz-avatar nzIcon="anticon anticon-user"
                     style="color:#f56a00; background-color:#fde3cf;"
                     nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item>{{userInfo.userName}}</li>
          <li nz-menu-item>
            <a>个人中心</a>
          </li>
          <li nz-menu-item (click)="logout()">
            <a>退出登录</a>
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider  style="background:#fff;border-right: 1px solid #e8e8e8;" [nzBreakpoint]="'lg'"  [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
      <ul nz-menu [class.close]="!isCollapsed" [nzMode]="'inline'"  [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item nz-tooltip nzPlacement="right" (click)="navigate('user/music/singer-list')">
            <span title>
              <i nz-icon type="android" theme="outline"></i>
            <span>歌手列表</span>
            </span>
        </li>
        <li nz-menu-item nz-tooltip nzPlacement="right" (click)="navigate('user/music/cd-list')">
            <span title>
              <i nz-icon type="radar-chart" theme="outline"></i>
            <span>歌单列表</span>
            </span>
        </li>
        <li nz-menu-item nz-tooltip nzPlacement="right" (click)="navigate('user/music/music-list')">
            <span title>
              <i nz-icon type="medium" theme="outline"></i>
            <span>音乐列表</span>
            </span>
        </li>
        <li nz-menu-item (click)="navigate('user/user-list')">
            <span title>
              <i nz-icon type="user" theme="outline"></i>
              <span>用户列表</span>
            </span>
        </li>
        <li nz-menu-item>
            <span title>
              <i class="anticon anticon-setting"></i>
              <span>播放策略配置</span>
            </span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header style="background: #fff; padding:0;">
        <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
      </nz-header>
      <nz-content style="margin:0 16px;">
        <div style=" min-height: 360px;margin-top: 10px">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer style="text-align: center;">app-music ©2017 Implement By xiaoconghu</nz-footer>
    </nz-layout>
  </nz-layout>
  <ng-template #triggerTemplate>
    <i nz-icon type="up"></i>
  </ng-template>
</div>



<app-play></app-play>
