<div style="position: fixed;bottom: 0;
    left: 0;width: 100%">
  <div style="height: 55px;
    background: #00802085">
    <i class="controls" nz-icon type="retweet" theme="outline"></i>
    <i class="controls" nz-icon type="left-circle" theme="outline"></i>
    <i class="controls" nz-icon type="play-circle" theme="outline"></i>
    <i class="controls" nz-icon type="right-circle" theme="outline"></i>
    <i class="controls" nz-icon type="download" theme="outline"></i>
    <nz-progress [nzPercent]="30"></nz-progress>
    <audio style="text-align: center;margin: 0 auto" src="http://localhost:8888/music/song/media/39"></audio>
  </div>
</div>
