<nz-layout class="layout">

  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#263238;">
    <ul nz-menu [nzMode]="'inline'"  style="background:#263238;width:201px;color: #939fa7;">
    <li nz-menu-item nz-tooltip nzPlacement="right">
    <span title>
    <i class="anticon anticon-mail"></i>
    <span>音乐列表</span>
    </span>
    </li>
    <li nz-menu-item>
    <span title>
    <i class="anticon anticon-appstore"></i>
    <span>用户列表</span>
    </span>
    </li>
    <li nz-menu-item>
    <span title>
    <i class="anticon anticon-setting"></i>
    <span>播放策略配置</span>
    </span>
    </li>
    </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px;box-sizing: border-box;background: #f6fafb">
      <nz-content style="background:#f6fafb; box-sizing: border-box;
  height:calc(100vh - 133px);padding: 24px 24px 0 24px;overflow: auto ">
        <!--<div class="box-warp" style="display: flex;flex-flow: wrap">-->
          <!--<div style="width: 50%" echarts [options]="chartOption" class="demo-chart"></div>-->
          <!--<div style="width: 50%" echarts [options]="chartOption1" class="demo-chart"></div>-->
          <!--<div style="width: 50%" echarts [options]="chartOption2" class="demo-chart"></div>-->
          <!--<div style="width: 50%" echarts [options]="chartOption3" class="demo-chart"></div>-->
        <!--</div>-->
        <div class="box-warp">
          <!--<div style="overflow: hidden;display: flex;">-->
            <!--<div style="width: 30%;min-width: 200px;max-width: 400px;margin: 20px 10px">-->
              <!--<nz-input-group nzSearch [nzSuffix]="suffixIconButton">-->
                <!--<input type="text" (input)="modelChange($event)" nz-input placeholder="input search IP">-->
              <!--</nz-input-group>-->
            <!--</div>-->
            <!--<div class="form-item" style="align-items: center;">-->
            <!--</div>-->
          <!--</div>-->

          <!--<ng-template #suffixIconButton>-->
            <!--<button nz-button nzType="primary" nzSearch (click)="search()"><i class="anticon anticon-search"></i>-->
            <!--</button>-->
          <!--</ng-template>-->
          <div style="padding: 26px 16px 16px;">
            <button nz-button nzType="primary" nzGhost style="margin-right: 10px" (click)="addUser()">新增用户</button>
            <button nz-button nzType="primary" nzGhost>批量删除</button>
          </div>
          <div style="box-shadow: 0 1px 2px rgba(0,0,0,.15), 0 -1px 0 rgba(0,0,0,.02);">
            <app-table [dataSet]="dataSet"
                       [pageBean]="pageBean"
                       [tableConfig]="tableConfig"
                       (pageChange)="pageChange($event)"
            ></app-table>
          </div>
        </div>
      </nz-content>
      <nz-footer style="text-align: center;background: #f6fafb">Ant Design ©2017 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
